// npm i bootstrap-scss / bootstrap
$primary: #1492E6;
@import "../node_modules/bootstrap/scss/bootstrap";

header {
    img {
        margin-top: 33px;
        margin-bottom: 22px;
    }
}
.nav-link {
    font-size: 23px;
    font-weight: 600;
}
.details, .office-work, .office-title{
    margin-top: 180px;
    h1{
        margin-bottom: 60px;
    }
}